
<section class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>ข่าวสาร {{total}} ข่าว</h1>
      <hr>
      <img *ngIf="isloading" src="./assets/loading.gif">
      <div class="card mb-3" *ngFor="let n of article">
        <img *ngIf="n.urlToImage" [src]="n.urlToImage" class="card-img-top" [alt]="n.title">
        <div class="card-body">
          <h5 class="card-title">{{n.title}}</h5>
          <p class="card-text">{{n.description}}</p>
          <p class="card-text float-md-left"><small class="text-muted">{{n.source.name}}</small></p>
          <p class="card-text float-md-right"><small class="text-muted">{{n.publishedAt}}</small></p>
        </div>
      </div>
    </div>

  </div>
  </section>

