<section class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">

      <h3>สมัครสมาชิก</h3>
      <form class="needs-validation" #myForm="ngForm"  novalidate>
        <div class="form-group">
          <label class="form-label">จังหวัด</label>
          <select #province="ngModel" ngModel name="province" class="form-control" aria-label="Default select example" required>
            <option value="">-----กรุณาเลือกจังหวัด-----</option>
            <option value="1">กรุงเทพมหานคร</option>
            <option value="2">ชลบุรี</option>
            <option value="3">เชียงใหม่</option>
          </select>
          <div class="alert alert-danger" *ngIf="province.invalid && (province.dirty || province.touched)">
                <span>กรุณาเลือกจังหวัด</span>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">ชื่อ-นามสกุล</label>
          <input ngModel name="fullname" type="text" class="form-control" id="fullname">
        </div>
        <div class="form-group">
          <label for="staticEmail" class="form-label">Email</label>
          <input [ngClass]="{'is-invalid' : email.invalid && (email.dirty || email.touched) }" #email="ngModel" ngModel
          name="email" type="email" class="form-control" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
          <div class="invalid-feedback">
           <span *ngIf="email.hasError('required')">กรุณากรอก Email.</span>
           <span *ngIf="email.hasError('pattern')">กรอก Email ไม่ถูกต้อง.</span>
          </div>
        </div>
        <div class="form-group" >
          <label for="inputPassword" class="form-label">Password</label>
          <input [ngClass]="{'is-invalid' : password.invalid && (password.dirty || password.touched) }" #password="ngModel" ngModel name="password" type="password" class="form-control" id="password" required>
          <div class="invalid-feedback">
            กรุณากรอก Password.
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-3" (click)="register(myForm.value)">สมัครสมาชิก</button>
        </div>

      </form>
      {{myForm.value | json}}
    </div>

  </div>
</section>
